{% extends 'sprout-base-lists/_layouts/base' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: "Subscribers"|t('sprout-base-lists'), url: url('sprout-lists/subscribers') }
] %}

{% set title = subscriber is not null ? 'Edit Subscriber'|t('sprout-base-lists') : 'New Subscriber'|t('sprout-base-lists') %}

{% set selectedTab    = 'lists' %}
{% set subscriberId = subscriber is not null ? subscriber.id : null %}
{% set fullPageForm = true %}

{% set saveShortcutRedirect = url('sprout-lists/subscribers/edit/{id}') %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('sprout-base-lists') }}">

            <div class="btn submit menubtn"></div>
            <div class="menu">
                <ul>
                    <li><a class="formsubmit"
                           data-redirect="{{ saveShortcutRedirect|hash }}">
                            {{ "Save and continue editing"|t('sprout-base-lists') }}</a>
                    </li>
                    <li><a class="formsubmit"
                           data-redirect="{{ "sprout-lists/subscribers/new"|hash }}">
                            {{ "Save and add another"|t('sprout-base-lists') }}</a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li><a class="formsubmit error"
                           data-action="sprout-base-lists/subscribers/delete-subscriber"
                           data-confirm="Are you sure you want to delete this Subscriber?"
                           data-redirect="{{ 'sprout-lists/subscribers'|hash }}">{{ "Delete"|t('sprout-base-lists') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <input type="hidden" id="action" name="action" value="sprout-base-lists/subscribers/save-subscriber">
    {{ redirectInput("sprout-lists/subscribers") }}

    {% if subscriber is not null %}
        <input type="hidden" name="subscriberId" value="{{ subscriberId }}">
    {% endif %}

    <input type="hidden" name="listType" value="barrelstrength\sproutbaselists\listtypes\MailingList">

    <section id="default-fields">

        {{ forms.textField({
            label: "Email"|t('sprout-base-lists'),
            name: 'email',
            id: 'email',
            required: true,
            autofocus: true,
            value: subscriber is not null ? subscriber.email : null,
            errors: subscriber is not null and subscriber.hasErrors('email') ? subscriber.getErrors('email') : null
        }) }}

        {{ forms.textField({
            label: "First Name"|t('sprout-base-lists'),
            name: 'firstName',
            id: 'firstName',
            value: subscriber is not null ? subscriber.firstName : null,
            errors: subscriber is not null and subscriber.hasErrors('firstName') ? subscriber.getErrors('firstName') : null
        }) }}

        {{ forms.textField({
            label: "Last Name"|t('sprout-base-lists'),
            name: 'lastName',
            id: 'lastName',
            value: subscriber is not null ? subscriber.lastName : null,
            errors: subscriber is not null and subscriber.hasErrors('lastName') ? subscriber.getErrors('lastName') : null
        }) }}

    </section>
{% endblock %}
{% block details %}

    <div class="meta">

        {% for listType in listTypes %}

            {% set subscriptionSettingsHtml = listType.getSubscriptionSettingsHtml(subscriberId) %}

            {% if subscriptionSettingsHtml != '' %}

                <h2>{{ listType.displayName() }}</h2>

                {{ subscriptionSettingsHtml }}

            {% else %}

                <p>{{ "Create a Subscriber Lists and your lists will display below."|t('sprout-base-lists') }}</p>

                <ul>
                    <li><input type="checkbox" class="checkbox" disabled>
                        <label>{{ "List One"|t('sprout-base-lists') }}</label>
                    </li>
                    <li><input type="checkbox" class="checkbox" disabled>
                        <label>{{ "List Two"|t('sprout-base-lists') }}</label>
                    </li>
                    <li><input type="checkbox" class="checkbox" disabled>
                        <label>{{ "List Three"|t('sprout-base-lists') }}</label>
                    </li>
                </ul>

            {% endif %}

        {% endfor %}

    </div>

{% endblock %}
